 <h1>New Game</h1>
 <p><%= @letters %></p>

<div class="card">
  <% @letters.each do |letter| %>
    <span class="letter"><%= letter %></span>
  <% end  %>
</div>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>What is the longest word you can find?</p>
 <div class = "container">
  <input type="text" name="new" class="form-control input-lg">
  <input type="submit" value="Play" class="btn btn-primary btn-lg col-md-2">
</div>
</form>
